.drum-pad {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2),
    0 -2px 4px 0 rgba(0, 0, 0, .2);
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 20px;
}

.onclick {
    background-color: rgba(150, 150, 150, 0.4);
}

