#drum-pad-holder {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

#drum-pad-holder > .drum-pad {
    width: 30%;
    padding-top: 12px;
    margin: 0.3rem 0 0.3em 0;
    height: 45px;
    color: #CCCCCC;
    text-align: center;
    line-height: normal;
    font-size: 2vw;
}


