.switches-container{
  width: revert;
  display: inline-flex;
  padding: 0.3rem 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3),
  0 -2px 4px 0 rgba(0, 0, 0, .2);
  border-radius: .5rem;
  position: relative;
  z-index: 2;
}

.switch-name {
  margin-bottom: .5rem;
  color: #FFFFFF;
}

.power-section{
  width: revert;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.volume-section{
  width: revert;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: space-between;
}

.kit-section{
  width: revert;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* switch */
.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }

  .switch input {
    display: none;
  }

input:checked + .switch-slider {
      opacity: 1;
  }

input:checked + .switch-slider:before {
  transform: translateX(24px);
}

.switch-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 30px;
  border-radius: 30px;
  background-color: transparent;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3),
  0 -2px 4px 0 rgba(0, 0, 0, .2);
  -webkit-transition: 0.2s;
  outline: none;
}
  .switch-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    left:0;
    bottom: 0;
    top: 0;
    right: 0;
    border-radius: 50%;
    background-color: #FFFFFF;
    cursor: pointer;
    position: absolute;
    transition: .4s;
  }

  .switch-slider .always-active {
      opacity: 1;
  }

  .switch-slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 7px;
    bottom: 3px;
    background-color: #FFFFFF;
    opacity: 100%;
    transition: .4s;
    border-radius: 50%;
  }

  /* Slider */
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 30px;
    border-radius: 30px;
    background-color: transparent;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3),
    0 -2px 4px 0 rgba(0, 0, 0, .2);
    -webkit-transition: 0.2s;
    outline: none;
  }

  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    left:3px;
    bottom: 3px;
    border-radius: 50%;
    background-color: #FFFFFF;
    cursor: pointer;
  }

.switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 100px;
  height: 50px;
  background: grey;
  border-radius: 100px;
  position: relative;
  transition: background-color .2s;
}

.switch-label .switch-button {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 45px;
  height: 45px;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.switch-checkbox:checked + .switch-label .react-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.switch-label:active .switch-button {
  width: 60px;
}
