.switches-container{
  width: revert;
  display: inline-flex;
  padding: 0.5rem 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3),
  0 -2px 4px 0 rgba(0, 0, 0, .2);
  border-radius: .5rem;
  position: relative;
  z-index: 2;
}

.switch-name {
  margin-bottom: .5rem;
  color: #FFFFFF;
}

.power-section{
  width: revert;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

.volume-section{
  width: revert;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: space-between;
}

.kit-section{
  width: revert;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

/* switch */
.switch-checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
}

.switch-label {
    display: block;
    position: relative;
    bottom: 3px;
    cursor: pointer;
    width: 60px;
    height: 30px;
    background: transparent;
    border-radius: 30px;
    transition: background-color .2s;
    box-shadow:
            0 2px 4px 0 rgba(0, 0, 0, .3),
        0 -2px 4px 0 rgba(0, 0, 0, .2);
}

.switch-button {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    bottom: 3px;
    right: 3px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transition: 0.4s;
    background: #ffffff;
}

.switch-checkbox:checked + .switch-label .switch-button {
    /*left: calc(100% - 2px);*/
    /*right: calc(100% - 2px);*/
    transform: translateX(30px);
}

.switch-checkbox:checked  + .switch-label:before .switch-button:before {
    opacity: 1;
}

.switch-label .always-active {
    opacity: 1;
}

.switch-button:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 3px;
    right:3px;
    top: 3px;
    bottom: 3px;
    background-color: #FFFFFF;
    opacity: 100%;
    transition: .4s;
    border-radius: 50%;
}

  /* Slider */
.slider-container{
    background-color: transparent;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3),
    0 -2px 4px 0 rgba(0, 0, 0, .2);
    -webkit-transition: 0.2s;
    width: 100%;
    height: 30px;
    border-radius: 30px;
}
  .slider {
    -webkit-appearance: none;
    width: 95%;
    height: 26px;
    outline: none;
    background-color: transparent;
  }

  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    left:3px;
    bottom: 3px;
    right:3px;
    /*top:3px;*/
    border-radius: 50%;
    background-color: #FFFFFF;
    cursor: pointer;
  }




