.display-panel{
    height: 1.5rem;
    width: 300px;
    padding: 1rem;
    margin: 0 auto 25px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2),
    0 -2px 4px 0 rgba(0, 0, 0, .2);

}

.text{
    font-size: large;
    font-weight: bolder;
    color: #FFFFFF;
}

